# Flutter / Dart
/build
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/build/
**/local.properties
**/*.keystore
**/*.jks

# iOS / macOS
ios/Flutter/.last_build_id
.DS_Store

# Node / Web
node_modules/

# Logs / Dumps / Artifacts
*.log
*.hprof
*.apk
*.aab

# Secrets / credentials
.env
.secret/
*.keystore.bak
*keystore.b64.txt

# IDE
.idea/
.vscode/

# Others
*.class
*.pyc
*.swp
